<div id="<%= dom_id prefecture %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= prefecture.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Key:</strong>
    <%= prefecture.key %>
  </p>

</div>
